.detailsFlexContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: whitesmoke;
    padding: 3rem;
    border-radius: 10px;
}

.bold {
    font-weight: 700;
}

.description span {
    font-weight: 400;
}



.exitButton {
    position: absolute;
    left: 1.8rem;
    top: 1.8rem;
    border: none;
    background-color: whitesmoke;
    border-radius: 50%;
}

.exitButton i {
    font-size: 3.5rem;
    color: #1b2456;
}

.imageContainer {
    display: flex;
    height: 100%;
    width: 200px;
    justify-content: center;
}

.imageContainer img {
    width: 500px;
    height: auto;
    box-shadow: 5px 5px 10px black;
}

.detailsFlexContainer .description {
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.detailsFlexContainer h2 {
    font-weight: bolder;
}

.lastRow {
    margin-bottom: 7.5px;
}

.checkbox {
    margin-top: 15px;
}

[type="checkbox"] {
    opacity: 0;
    position: relative;
    right: 20px;
    bottom: 5px;
}

input[type="checkbox"] {transform: scale(2);}

.fa-award {
    font-size: 3rem;
    margin-right: -8px;
    color: black;
    position: relative;
    left: -15px;
}


/* Responsive Design */
