.wooden-background {
    background-image: url("../assets/steve-johnson-B2_zWEdpLlo-unsplash.jpg");
    background-position: 90%;
    background-repeat: no-repeat;
    padding: 80px 0;
    width: 100%;
}

.bookshelf {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 50px 0;
}

.bookshelf i {
    font-size: 5rem;
    cursor: pointer;
    color: #1b2456;
    padding: 0 20px;
}

.bookShelfDisplay {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    background-color: #fff;
    padding: 25px 0;
    height: 300px;
    min-height: 300px
}

.shelvedBooks img {
    width: 65%;
}