header {
  background-color: #fff;
}

.headerNav {
  display: flex;
  list-style: none;
  text-transform: uppercase;
  height: 15vh;
  align-items: center;
  
}

.headerNav li {
  padding: 10px;
}

.navLinks {
  text-decoration: none;
}

.logo {
  text-decoration: none;
  text-transform: uppercase;
}

h1 {
  font-size: 3rem;
  color: #1b2456;
}

.flexContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container {
  margin: 0 auto;
  max-width: 1280px;
  width: 90%;
}

.searchButton {
  background-color: #1b2456;
  color: #fff;
  border: 1px solid #1b2456;
  padding: 5px;
  height: 30px;
  width: 30px;
}

button:hover,
button:focus {
  background-color: #fff;
  color: #1b2456;
}

.searchBook {
  width: 300px;
  height: 30px;
  padding-left: 10px;
}

.titleFormContainer {
  display: flex;
  align-items: center;
  gap: 25px;
}

form {
  position: relative;
}

.suggestionContainer {
  position: absolute;
  z-index: 1;
  display: flex;
  flex-direction: column;
  left: 52px;
  width: 300px;
  background-color: whitesmoke;
}

.suggestionContainer label {
  background-color: none ;
  padding: 12px;
}

input[type="radio"] {
  appearance: none;
}

input[type="radio"]:focus ~ label {
  background-color: hotpink;
}

@media (max-width: 1067px) {
  h1 {
    font-size: 2rem;
  }
  .searchBook {
    width: 250px;
  }
}

@media (max-width: 848px) {
  h1 {
    font-size: 2.5rem;
  }
  .flexContainer {
    flex-direction: column;
    padding: 0;
  }
  .titleFormContainer {
    flex-direction: column;
    gap: 0;
  }
  .headerNav {
    height: 10vh;
  }
  .iconContainer {
    flex-direction: row;
  }
  .iconContainer i {
    margin: 0 15px;
  }
}

@media (max-width: 570px){
  h1 {
    font-size: 2rem;
  }
  .iconContainer {
    right: calc(50% - 114px);
  }
}