header {
  background-color: #fff;
}

.headerNav {
  display: flex;
  list-style: none;
  text-transform: uppercase;
  height: 15vh;
  align-items: center;
}

.capitalB {
  color: white;
  font-size: 3.5rem;
  position: relative;
  z-index: 33;
}

.bookIcon {
  position: absolute;
  z-index: 0;
  font-size: 5.5rem;
  left: -36px;
  bottom: 10px;
}

.headerNav li {
  padding: 10px;
}

.navLinks {
  text-decoration: none;
  color: #1b2456;
  font-weight: 700;
  padding: 10px;
  border-radius: 10px;
  display: block;
}

.navLinks:hover,
.navLinks:focus {
  background-color: #1b2456;
  color: white;
}

.logo {
  text-decoration: none;
  text-transform: uppercase;
  position: relative;
  left: 30px;
}

h1 {
  font-size: 3rem;
  color: #1b2456;
}

.flexContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container {
  margin: 0 auto;
  max-width: 1280px;
  width: 90%;
}

.wrapperContainer {
  margin: 0 100px;
}

.searchButton {
  background-color: #1b2456;
  color: #fff;
  border: 1px solid #1b2456;
  padding: 5px;
  height: 30px;
  width: 30px;
}

button:hover,
button:focus {
  background-color: #fff;
  color: #1b2456;
}

.searchBook {
  width: 300px;
  height: 30px;
  padding-left: 10px;
  border: 1px solid #1b2456;
}

.titleFormContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
}

form {
  position: relative;
}

.suggestionContainer {
  position: absolute;
  z-index: 1;
  display: flex;
  flex-direction: column;
  left: 0px;
  width: 300px;
  background-color: whitesmoke;
  border: 1px solid #1b2456;
  justify-content: space-evenly;
}

.suggestionContainer label {
  background-color: none;
  padding: 20px 12px;
  width: 100%;
  display: inline-block;
}

.individualSuggestion p {
  background-color: whitesmoke;
  padding: 10px;
  color: #1b2456;
}

.individualSuggestion p:hover,
.individualSuggestion p:focus {
  background-color: #c8e0fb;
}

.dropDownLink {
  width: 100%;
  display: inline-block;
}

.dropDownLink:focus {
  border: 3px solid #1b2456;
  background-color: #c8e0fb;
}

.individualSuggestion a {
  text-decoration: none;
}

.languageContainer {
  position: fixed;
  top: 0;
  right: 0;
}

@media (max-width: 1067px) {
  h1 {
    font-size: 2rem;
  }
  .searchBook,
  .suggestionContainer {
    width: 250px;
  }
}

@media (max-width: 848px) {
  h1 {
    font-size: 2.5rem;
  }
  .flexContainer {
    flex-direction: column;
    padding: 0;
  }
  .titleFormContainer {
    flex-direction: column;
    gap: 0;
    width: 100%;
  }
  .headerNav {
    height: 10vh;
  }
  .iconContainer {
    flex-direction: row;
  }
  .iconContainer i {
    margin: 0 15px;
  }
  .logo {
    left: 20px;
  }
}

@media (max-width: 570px) {
  h1 {
    font-size: 2rem;
  }
  .iconContainer {
    right: calc(50% - 114px);
  }

  .searchBook,
  .suggestionContainer {
    width: 200px;
  }

  footer {
    font-size: 1.5rem;
  }
}

.search-form {
  display: flex;
}
