.landingPage {
  background-image: url(../assets/robert-anasch-McX3XuJRsUM-unsplash.jpg);
  height: 80vh;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  color: #fff;
  display: flex;
  align-items: center;
}



