.result-box {
  color: #fff;
  display: flex;
  flex-direction: column;
  padding: 15px;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: overlay;
  background-color: rgba(0, 0, 0, 0.6);
  justify-content: space-between;
  border-radius: 10px;
  box-shadow: black 5px 5px 10px;
}

.result-box img {
  align-self: center;
  box-shadow: black 5px 5px 10px;
}

.searchResSection {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
}

h2 {
  margin: 10px 0;
  text-transform: uppercase;
}

.descriptionContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.buttonContainer {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  text-align: left;
  align-items: center;
  width: 100%;
}

.buttonContainer button {
  width: 250px;
}


.buttonContainer button,
.paginationButtonContainer button {
  background-color: #fff;
  color: #1b2456;
  text-align: left;
  margin-bottom: 15px;
  padding: 10px 0;
  border-radius: 10px;
  border: 2px solid #1b2456;
  text-transform: uppercase;
  box-shadow: black 5px 5px 10px;
}

.buttonContainer button:hover,
.buttonContainer button:focus,
.paginationButtonContainer button:hover,
.paginationButtonContainer button:focus {
  background-color: #1b2456;
  color: #fff;
}

.buttonContainer i {
  padding-left: 5px;
}

.paginationButtonContainer {
  display: flex;
  width: 80%;
  justify-content: center;
  margin: 15px auto 0;
}

.paginationButtonContainer button {
  width: 15%;
  text-align: center;
  margin: 20px 10px;
}

/* Media Queries */
@media (max-width: 850px) {
  .searchResSection {
  grid-template-columns: 1fr 1fr;
  }

  .paginationButtonContainer button {
  width: 35%;
  }
}


@media (max-width: 600px) {
  .searchResSection {
  grid-template-columns: 1fr;
}
}
