@import './stylesSheets/setup.css';
@import './stylesSheets/landingPage.css';
@import './stylesSheets/headerNav.css';

html {
    font-size: 62.5%;
}

body {
    font-family: 'Barlow', sans-serif;
    font-size: 1.6rem;
    color: #1b2456;
}

h1,
h2,
h3 {
    font-family: 'Merienda One', cursive;
}
@import './stylesSheets/bookshelf.css';
